/* Starburst 5 */
.starburst5 {
	display:block;
	width:6em;
	height:6em;
	background:#7e00df;
	position:relative;
	top:2em;
	left:2em;
	text-align:center;
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	font-family:Arial, sans-serif;
	text-shadow:0 0 3em #04b3df, 0 0 4px #ff0;
	font-size:1em;
	-webkit-transform:rotate(-56.5deg);
	-moz-transform:rotate(-56.5deg);
	rotation:-56.5deg;
}
.starburst5 span {
	display:block;
	width:6em;
	height:6em;
	background:#7e00df;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	rotation:-45deg;
	-moz-transition: -moz-transform 1s ease;
	-webkit-transition: -webkit-transform 1s ease;
	transition: transform 1s ease;
}
.starburst5:hover {
	background:#7e00df;
}
.starburst5:hover span {
	-webkit-transform:rotate(11.25deg);
	-moz-transform:rotate(11.25deg);
	rotation:11.25deg;
}